@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --swiper-navigation-color: #30bd19;
  --swiper-pagination-color: #30bd19;
  --swiper-pagination-bullet-inactive-color: #30bd19;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: black;
  background: white;
  overflow-x: hidden;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.nav-link {
  position: relative;
}

.nav-link:after {
  content: "";
  height: 2px;
  width: calc(100% + 10px);
  position: absolute;
  bottom: -5px;
  background-color: black;
  left: 50%;
  transform: translate(-50%, 0%);
}

.shift:hover {
  transform: translate(10px, -10px);
  box-shadow: rgba(48, 189, 25, 0.3) -5px 5px, rgba(48, 189, 25, 0.2) -10px 10px,
    rgba(48, 189, 25, 0.1) -15px 15px, rgba(48, 189, 25, 0.05) -20px 20px;
  transition: all 150ms ease-in-out;
}

/* .swiper-pagination {
  margin-top: 20px !important;
  position: relative !important;
} */

/* .myswiper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;

} */

/* .mySwiper {
  padding: 20px 300px !important;
} */

/* .swiper-wrapper {
  align-items: center;
  justify-content: center;
} */